.order-summary {
  color: $primary;
  @include media-breakpoint-up(md) {
    background-color: $primary;
    color: $light;
  }
  h2 {
    background-color: $light;
    @include media-breakpoint-up(md) {
      border-bottom: 1px solid $light;
      background-color: $primary;
    }
  }
}
.cart-detail {
  white-space: nowrap;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
  &-text {
    white-space: normal;
    @include media-breakpoint-up(lg) {
      width: 38%;
    }
  }
}